@import '_variables';

html, body {
    padding: @page-padding;
    margin: @page-margin;
}

body {
    background: @react-light;
    color: @react-text;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: @react-maroon;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    max-width: @page-max-width;
    margin: 0 auto;
}