@import '_variables';

html, body {
    padding: @page-padding;
    margin: @page-margin;
}

body {
    background: @react-light;
    color: @react-text;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}