.component-info {
    aside {
        float: right;
        margin-bottom: 15px;
        
        .pure-button {
            font-size: 1.5em;
            text-decoration: none;
            margin-left: 0.5em;

            &:first-child {
                margin-left: 0;
            }

            @media only screen and (max-width: 400px) {
                font-size: 1em;
            }
        }
    }
}