@import '_variables';

main {
    .container {
        padding: @content-padding;
        margin-top: @content-margin;
        margin-bottom: @content-margin;

        background: @content-background;
        border: @content-border;
        border-radius: @content-border-radius;
    }
}