@import '_variables';

.front {
    li {
        margin: 15px;
    }

    h2 {
        margin: 40px 0 10px 0;
    }

    .faq, .component-lists {
        float: left;
        width: 60%;
        margin: 0 3%;
    }

    .component-lists {
        width: 28%;
    }

    .faq {
        line-height: 1.45em;
    }

    &:after, &:before {
        display: table;
        content: ' ';
    }

    &:after {
        clear: both;
    }
}