.results-table {
    width: 100%;
    border: 0;

    thead {
        background: transparent;
        font-size: 1.25em;
    }

    th {
        padding-left: 15px;
    }

    th a {
        display: block,
    }

    th.updated {
        width: 15%;
    }

    th.stars {
        width: 8%;
    }

    td {
        border-color: lighten(#CBCBCB, 12.5%);
    }

    .component-name {
        font-size: 1.35em;
        display: block;
        margin: 13px 0;
    }

    .no-result {
        padding: 50px 0;
        text-align: center;
        font-size: 1.35em;
    }

    .component-meta {
        display: none;
    }

    @media only screen and (max-width: 500px) {
        th, td {
            display: none;
        }

        th:first-child, td:first-child {
            display: table-cell;
            padding: 0;
        }

        .component-meta {
            display: block;

            dt {
                display: inline-block;
            }

            dd {
                display: inline-block;
                margin: 0 10px 0 5px;
            }
        }
    }
}